<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{ base :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<section>

		<div class="container mt-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center">
							<h3>Login Your Account</h3>
						</div>
						
						<th:block th:if="${param.error}">
						<p class="text-center text-danger fs-5">
						[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
						</p>
						
						</th:block>
						
						<th:block th:if="${param.logout}">
						<p class="text-center text-success fs-5">
						Logout Successfully
						</p>
						
						</th:block>
						
						

						<div class="card-body">
							<form action="userLogin" method="post">


								<div class="mb-3">
									<label>Enter Email</label> <input type="email" name="email"
										class="form-control">
								</div>



								<div class="mb-3">
									<label>Enter Password</label> <input type="text"
										name="password" class="form-control">
								</div>

								<button class="btn btn-primary col-md-12">Login</button>

							</form>
						</div>

						<div class="card-footer text-center">
							<p class="fs-6">
								Don't have an account <a href="register"
									class="text-decoration-none">register</a>
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>



	</section>
</body>
</html>